.pokemonCardsContainer{
    margin: 0px 0px;
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0rem;

    min-height: 100%;

    border: 2px solid blue;
    
}