@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Bungee&family=Goldman&display=swap');

body {
  margin: 0;
  background-color: var(--bg-myWhite);
  font-family: 'Baumans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.normalizar{
  margin: 0;
  padding: 0;
}

/*----------------------- VARIABLES DEL TEMA ---------------

  # GRADIENTE GENÉRICA */
:root {
  --bg-myWhite: #E6E6E6;
  --card-border: #b9b9b9;

  --white1: #F2F2F2;
  --white2: #FFEBFF;
  --white3: #FFE0EF;
  --white4: #FFDAC5;
  --white5: #FFE391;
  --white6: #F9F871;

  --gray-border: #F9F871;

  /* Switch Palette */
  --switch1: #393939;
  --switch2: #009063;
  --switch3: #D6D4E6;
    
  /* Small Switch Palette */
  --small1: #A4F3F5;
  --small2: #008C93;

  /* Squash Palette */
  --squash1: #ECD1B5;
  --squash2: #AFDEE5;

  /* Dotting Palette */
  --dot1: #ACA7CB;
  --dot2: #FF00EF;
  --dot3: #D19F9C;

  /* ÉNFASIS */
  --fromBD: #c74444;
  --fromPoke: #8179B7;


}

.blur{
  background: rgba( 230, 230, 230, 0.75 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 10px );
-webkit-backdrop-filter: blur( 2px );
/* border-radius: 10px; */
}