body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* VARIBLES DE COLOR */
:root {
  --color-primario: #2d333b;
  --color-p2: #3a4149;
  --color-2: #A74165;
  --color-3: #00777A;
  --color-4: #4e1b39;
  --color-5: #181e25;
  --color-6: #D6F4FF;

  --color-blue1: #3b32b4;
}