.home {
    margin: 0;
    background-color: var(--bg-myWhite);

    /* height: 800px; */
    /* z-index: 0; */
    /* background-image: url("../../img/fondo.webp"); */
    background-size: contain;
    background-repeat: repeat;
    

}