.pokemonCardsContainer{
    margin: 0px 0px;
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;

    padding: 0rem;


    /* border: 2px solid rgb(75, 75, 223);     */
    text-decoration: none;

    animation-name: aparicion;
    animation-duration: 2s;
}

.paginatedControlsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.paginatedControlsContainer > h3{
    margin: 10px 20px;
    /* color: red; */
}

@keyframes aparicion {
    0% {
        color: transparent;
    }
    100%{
        
    }
    
}