.PokemonCard{
    padding: 5px;
    min-width: 130px;
    width: 160px;
    height: 130px; 
    margin: 10px 10px 10px 10px; 

    border: 1px solid #d1d1d1;
    background-color: var(--white1);
    /* background-color: white; */
    border-radius: 0.7rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: linear;
}


.titlePokemon{
    margin: 0px;
    color: var(--switch1);
}

.IdPokemon{    
    font: bold;
    font-size: 0.9rem;

    position: absolute;
    top: -10px;
    left: 10px;
}

.horizontalLine{
    width: 97%;
    border: 1px solid rgb(192, 192, 192);
}

.tipoPokemon{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* ESTILOS DE ID POKEMON --> SEGÚN SU ORIGEN, BD O POKE-API */

.BD{
    color: var(--fromBD);
    composes: IdPokemon;
}

.POKE-API{
    composes: IdPokemon;
    color: var(--fromPoke);
}


/* ANIMACION CARD AL PONER CURSOR ENCIMA */

.PokemonCard:hover{
    position: relative;
    z-index: 10;
    bottom: 5px;

    cursor: pointer;    
    background-color: white;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
    
    animation-name: levantar;
    animation-duration: 200ms;
}

@keyframes levantar {
    0% {
        position: relative;
        bottom: 0px;
        z-index: 10;
    }
    100% {
        position: relative;
        bottom: 5px;
        z-index: 10;
    }
}

