.Pokemons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 1rem;

    min-height: 100%;

    /* border: 3px solid rgb(235, 235, 76); */
    animation-duration: 1.5s;
    animation-name: aparicion;

}


